.card {
  margin-top: 20px;
  background-color: lightblue;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.card-images {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-images img {
  height: 400px;
  width: 400px;
}

.card-desc {
  margin: 20px 30px 10px 20px;
}
